body {
	font-family: 'Nunito', sans-serif !important;
	width: 100%;
}
p {
	font-size: 18px;
	line-height: 2.5rem;
}
/*----------HEADER-----*/
header {
	height: 129px;
	padding: 25px 0 11px;
}
.logo {
	height: 93px;
	margin: 0 auto;
	display: block;
}
/*-----------MAIN------*/
main {
	background-color: #e4e4e4;
	padding: 52px 0 73px;
}
section {
	max-width: 1366px;
	margin: 0 auto;
}
/*--------CONTENT BOXES--------*/
.content-box {
	padding: 15px;
	background-color: white;
	position: relative;
	margin-bottom: 20px;
}
.emoji {
	display: inline-block;
	float: left;
	width: 44px;
	margin-right: 20px;
}
.content-title {
	padding-bottom: 0px;
	width: 70%;	
	float: left;
}
.content-title h3 {
	padding-top: 7px;
	font-weight: bold;
}
.date-time {
	width: 25%;
	float: left;
	text-align: right;
	margin: 0 0 10px 20px;
	color: #019cdc;
	
}
.content-main {
	border-top: 1px solid #e4e4e4;
	clear: both;
	margin-top: 20px;
	padding-top: 10px
}
.content-image {
	width: 100%;
	height: auto;
	margin: 10px 0;
	background-color: black;
}
.content-image img {
	max-width: 100%;
	height: auto;
	width: 100%;
	position: relative;	
}


/*------------HOVER EFFECT ON IMAGES---------*/
.icon-hover {
	position: absolute;
	background-color: #019cdc;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	top: 38%;
	left: 38%;
}
.icon-hover img {
	height: 30px;
	margin-top: 35px;
	margin-left: 3px;
}
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.0);
  opacity: 0;
}

.hovereffect .overlay:hover {
	opacity: 1;
	transition: all ease-in 500ms;
	background-color: rgba(0, 0, 0, 0.5);
}


/*---------MODAL-------*/
.close-window {
	width: 22px;
	display: block;
	float: right;
}
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 868px;
    overflow-y: auto;
}
.modal-header {
	border-bottom: none !important;
}

/*--------FOOTER------*/
footer {
	background-color: white;
	text-align: center;
	padding: 25px 0 71px;
}
footer p {
	color: #019cdc;
	font-size: 15px;
}


